

.header-footer-div{/* this edits the format/color of the header and footer divs*/
  /* background-color: 	#0f4c75 */
  background-color: #cce6ff;
}

.title-color{/*changes title color */
  color: white;
}



.card-color{/*change stat cards color */
  background-color:#bbe1fa
  /* background-color:#e6f2ff */
}

 .card-width{  /*this class targets the statistics cards for individuals and centers them. */
  width: 20%;
  height:20%;
  margin-left: 37.5%
}

.card-image{ /* this is the class which formats the images which gts put into the statistics cards*/
height: 15%;
width:40%;
border-radius:50%;
}

.badge-icon-size{/*edits badge icon format for stat cards*/
  width: 20%;

}
.carousel-control-prev-icon {  /*inverts the arrow color to black so that you can see that */
  filter: invert(1);
}
.carousel-control-next-icon { /*inverts the arrow color to black so that you can see that */
  filter: invert(1);
}

.leaderboard-intro{/* this class formats the intro text that gets rendered within the carousel on the leaderboard page*/
  font-size: 100px;
  margin-top: 100px
}


.avatar-image{
  height: 10%;
  width: 10%;

}
